<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=DESKTOP-SHLB1CM;Initial Catalog=joclaimsdev;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <!--<add name="defaultconnection" connectionstring="data source=autoscore-web.cr7r37g76njg.us-east-2.rds.amazonaws.com;initial catalog=qajoclaims;persist security info=true;user id=shubeddak;password=s2o1shu8vxgaabbeddak2ty6jordan" providername="system.data.sqlclient" />-->
    <!--<add name="DefaultConnection" connectionString="data source=192.168.18.60;initial catalog=joclaimsdev;persist security info=true;user id=sa;password=sql2019" providerName="system.data.sqlclient" />-->
    <!--<add name="DefaultConnection" connectionString="Data Source=autoscore-web.cr7r37g76njg.us-east-2.rds.amazonaws.com;Initial Catalog=joclaimsold;Persist Security Info=True;User ID=tasadduq;Password=Pucit@73@73" providerName="System.Data.SqlClient" />-->
    <!--<add name="DefaultConnection" connectionString="Data Source=autoscore-web.cr7r37g76njg.us-east-2.rds.amazonaws.com;Initial Catalog=joclaimsold;Persist Security Info=True;User ID=tasadduq;Password=Pucit@73@73" providerName="System.Data.SqlClient" />-->
    <!--<add name="DefaultConnection" connectionString="Data Source=116.58.19.83;Initial Catalog=joclaimsdemo;Persist Security Info=True;User ID=joclaims;Password=Old@Joclaims867" providerName="System.Data.SqlClient" />-->
    <add name="DefaultConnection" connectionString="Data Source=jclaimserver.cr7r37g76njg.us-east-2.rds.amazonaws.com;Initial Catalog=joclaimsold;Persist Security Info=True;User ID=jctechnonabeel;Password=J(t3chnabeel0cAr3$32" providerName="System.Data.SqlClient" />


  </connectionStrings>
  <appSettings>
    <add key="CryptographyKey" value="T3CHN0C@R3SE546C8DF278CD5931069B" />
    <add key="StripeSecretKey" value="sk_test_8PXoDhHJsGqlyGMHow76ZYzo" />
    <add key="StripePublishableKey" value="pk_test_EuSpOFYGukVd6o6fcGaQmR8M" />

    <add key="TwilioAccountSid" value="AC1f3e7eb983ee2d0dac60547599348244" />
    <add key="TwiliOauthToken" value="18da3e4ceaa970c3979b13c895584263" />
    <add key="TwilioPhoneNumber" value="+13214183863" />

    <!--<add key="Email" value="technocares.sharjeel@gmail.com" />
    <add key="Password" value="ducvwxierourgtbq" />-->
    <add key="Email" value="support@joclaims.com" />
    <add key="Password" value="Yam00498" />
    <add key="VehicleDataAPIURL" value="https://seriesqapi.autoscore.com/"/>
    <add key="JoClaimsIntegration" value="https://integration.joclaims.com/Gallery/"/>
    <add key="OldJoclaims" value="https://integration.joclaims.com/UploadedFiles/"/>
    <add key="AutoScoreBeta" value="https://betaapi.autoscore.com/"/>
    <add key="AutoScore" value="https://api.autoscore.com/"/>

    <!--<add key="VehicleDataAPIURL" value="http://localhost:44310/"/>-->
    <add key="joclaims" value="http://localhost:4200"/>

    <add key="JOMallLink" value="https://josmsservice.com/SMSServices/Clients/Prof/" />
    <add key="JOMallSENDERID" value="Solidarity" />
    <add key="JOMallSENDERNAME" value="solidarity1" />
    <add key="JOMallACCPWD" value="g@G7r@C6zR@6zO0pR0v" />
    <add key="localTchekAPI" value="https://localhost:44389/" />
    <add key="AIDoozAPi" value="https://aiapi.dooz.com/" />

    <add key="JOMallSENDERIDJoClaims" value="JoClaims" />
    <add key="JOMallSENDERNAMEJoClaims" value="AutoHub" />
    <add key="JOMallACCPWDJoClaims" value="jSUXurj6!NC7XzHC" />
    <add key="Tchek" value="https://alto.tchek.fr/" />
    
    

    <!--<add key="IronPdfLicenseKey" value="IRONPDF-507372A640-108944-4F5481-1E3106A2C9-C6CCF902-UEx6BCBD2F73F257D8-PROJECT.LICENSE.1.DEVELOPER.SUPPORTED.UNTIL.17.OCT.2019"/>-->
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" relaxedUrlToFileSystemMapping="true" requestPathInvalidCharacters="&lt;,&gt;,%,&amp;,\,?" maxRequestLength="1073741824" />
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
        <!--50MB-->
      </requestFiltering>
    </security>
    <modules>
      <remove name="FormsAuthentication" />
      <remove name="WebDAVModule" />
    </modules>
    <handlers>
      <remove name="WebDAV" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
